{{extend 'layout.html'}}
<html>
<body style="background-image:url(/shoppy/static/images/back2.jpg);background-size:200% 300%;background-repeat: no-repeat;">

<h1>
    <u>CHECKOUT</u>
</h1>
{{total=0}}
<table>
    <tr>
        <th>product id</th>
        <th>title</th>
        <th>price</th>
        <th>offer</th>
    </tr>
{{for rows in cartitems:}}
    <tr>
        <td>{{=rows[0][db.store.P_id]}}</td>
        <td>{{=rows[0][db.store.title]}}</td>
        <td>{{=rows[0][db.store.price]}}</td>
        <td>{{=rows[0][db.store.offer]}}</td>
        {{total+=(rows[0][db.store.price]*(100-rows[0][db.store.offer])/100)}}
   </tr>
{{pass}}
</table>
<br><br>
<b>TOTAL:</b>{{=total}}<br><br>
{{session.total=total}}
{{=A('PROCEED FOR PAYMENT',_class='btn',_href=URL('payment'))}}
{{=A('CONTINUE SHOPPING',_class='btn',_href=URL('main_page'))}}
{{=A('BACK TO CART',_class='btn',_href=URL('show_cart'))}}
<br><br>
</body>
    </html>
