{{extend 'layout.html'}}
<html>
<body style="background-image:url(/shoppy/static/images/back2.jpg);background-size:200% 300%;background-repeat: no-repeat;">

<h1>
    <u>FORMAL</u>
</h1>
{{for row in records:}}
<div>
    <!--{{=A(_href=URL('show?id= %s'%row.id))}}<br>-->
    <!--<img src="{{URL(row.image)}}"/><br>-->
    <a href="{{=URL('showitems',args=row.id)}}">
    {{if row.image:}}
    <img src="{{=URL('download',args=row.image)}}" style="width:20%;height:40%"/>
    {{else:}}
    <img src="{{=URL('static','images/noimage.png')}}" style="width:20%;height:40%"/>
    {{pass}}
        {{if row.qty==0:}}
        <img src="{{=URL('static','images/outofstock.png')}}" style="width:20%;height:40%"/>
        {{pass}}
        <br><br>

    <p>
    <h4>{{=row.title}}</h4>
    <b>MRP : </b>{{=row.price}}<br>
        {{if row.offer :}}
    <b>OFFER : </b> {{=row.offer}} %<br><br>
    {{else:}}
    <b>OFFER : </b> 0 %<br><br>
        {{pass}}
        </a>
    {{=A('add_to_cart',_class='btn',_href=URL('add_to_cart',args=row.id))}}

</div>
{{pass}}
    {{=A('show_cart',_class='btn',_href=URL('show_cart'))}}
