{{extend 'layout.html'}}
<html>
<body style="background-image:url(/shoppy/static/images/back2.jpg);background-size:200% 300%;background-repeat: no-repeat;">

<h1>
    <u>{{=data[0].category}}</u>
</h1>

<div>
    <h2>
        {{=data[0].title}}
    </h2>
    {{if data[0].image:}}
    <img src="{{=URL('download',args=data[0].image)}}" style="width:20%;height:40%"/><br><br>
    {{else:}}
    <img src="{{=URL('static','images/noimage.png')}}" style="width:20%;height:40%"/><br><br>
    {{pass}}
    <p>
    <b>MRP : </b>{{=data[0].price}}<br>
        {{if data[0].offer :}}
    <b>OFFER : </b> {{=data[0].offer}} %<br><br>
    {{else:}}
    <b>OFFER : </b> 0 %<br><br>
        {{pass}}
    <b>DESCRIPTION</b> {{=data[0].description}}<br><br>
    </p>
    {{=A('add_to_cart',_class='btn',_href=URL('add_to_cart',args=data[0].id))}}
</div>
</body>
    </html>
