<html>
 {{extend 'layout.html'}}
 <body style="background-image:url(/shoppy/static/images/back2.jpg);background-size:200% 300%;background-repeat: no-repeat;">
    <h1>
    <u>WOMEN CLOTHING</u>
</h1>
     <br/>
     <div>
<nav>
    <h5>
        ETHNIC WEAR
    </h5>
    <a href="sarees.html">SAREES</a><br>
    <a href="kurti.html">KURTI</a><br>
    <a href="salwar_kameez.html">SALWAR KAMEEZ</a><br>
    <h5>
        WESTERN WEAR
    </h5>
    <a href="dresses.html">DRESSES</a><br>
    <a href="tops_tunic.html">TOPS AND TUNICS</a><br>
    <a href="jumpsuit.html">JUMPSUITS</a><br>
    
    <h5>
        <a href="footwear.html">FOOTWEAR</a><br><br>
        <a href="main_page.html">BACK TO MAIN PAGE</a>
    </h5>
</nav>
    </nav>
    {{=A('show_cart',_class='btn',_href=URL('show_cart'))}}
</body>
    </html>
